$noise-bg: image-url('noise.png') top left !default;
$img-border: inline-image('dotted-border.png');

// Main Link Colors
$link-color: #000 !default;
$link-color-hover: adjust-color(lighten(#d64400, 3), $lightness: 10, $saturation: 25) !default;
$link-color-visited: $link-color !default;
$link-color-active: $link-color !default;

// Main Section Colors
$main-bg: #f8f8f8 !default;
$page-bg: #f8f8f8 !default;
$article-border: #eeeeee !default;

$header-bg: linear-gradient(darken(#666, 8), #000, lighten(#666, 8)) !default;
$header-border: lighten(#fff, 15) !default;
$title-color: #FFF !default;
$subtitle-color: #aaa !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

/* Navigation */
$nav-bg: #FAFAFA !default;
$nav-bg-front: image-url('noise.png') !default;
$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 8)) !default;
$nav-color: #555 !default;
$nav-color-hover: $link-color-hover !default;
$nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;
$nav-border: darken($nav-bg, 10) !default;
$nav-border-top: lighten($nav-bg, 15) !default;
$nav-border-bottom: darken($nav-bg, 25) !default;
$nav-border-left: darken($nav-bg, 11) !default;
$nav-border-right: lighten($nav-bg, 7) !default;

/* Sidebar colors */
$sidebar-bg: #fff !default;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
$sidebar-border-hover: darken($sidebar-bg, 7) !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;

$footer-color: #444 !default;
$footer-bg: #FAFAFA !default;
$footer-bg-front: image-url('noise.png') !default;
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 14)) !default;
$footer-color: darken($footer-bg, 38) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: lighten($footer-bg, 15) !default;
$footer-border-bottom: darken($footer-bg, 15) !default;
$footer-link-color: #444 !default;
$footer-link-color-hover: $link-color-hover !default;
$page-border-bottom: darken($footer-bg, 5) !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}
a {
  @include transition(color .3s);
}

html {
  background: linear-gradient(to left, $main-bg 0%, #888 50%, $main-bg 100%);
}
body {
  > div {
    background: $sidebar-bg $noise-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: linear-gradient(to left, #f0f0f0 0%, $main-bg 2%, $main-bg 98%,  #f5f5f5 100%);
      border-right: 1px solid $sidebar-border;
    }
  }
}
